[Desktop Entry]
Name=QCalcFileHash
Comment=Hash calculator
Type=Application
Exec=qcalcfilehash
Icon=qcalcfilehash
Categories=Utility;Qt;System;FileTools;
